<a href="https://colab.research.google.com/github/BrendenLatham/Data_Viz/blob/main/Assignment16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 16

To begin this project I will be grabbing the data set I will use

In [92]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')
df.head(15)

                                     id  room_id/id  ... temp  out/in
0   __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1   __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2   __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3   __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4   __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
5   __export__.temp_log_196125_b0fa0b41  Room Admin  ...   31      In
6   __export__.temp_log_196121_01544d45  Room Admin  ...   29      In
7   __export__.temp_log_196122_f8b80a9f  Room Admin  ...   29      In
8   __export__.temp_log_196111_6b7a0848  Room Admin  ...   29      In
9   __export__.temp_log_196112_e134aebd  Room Admin  ...   29      In
10  __export__.temp_log_196108_4a983c7e  Room Admin  ...   42     Out
11  __export__.temp_log_196108_4a983c7e  Room Admin  ...   42     Out
12  __export__.temp_log_196101_d5ec7633  Room Admin  ...   29      In
13  __export__.temp_log_196099_3b8ef67b  Room Admin  ...   29      In
14  __export__.temp_log_196095_788b2c27  Room Admin  ...   29      In

[15 rows x 5 columns]

In [93]:
pd.to_datetime(df.noted_date, format = '%d-%m-%Y %H:%M')

0       2018-12-08 09:30:00
1       2018-12-08 09:30:00
2       2018-12-08 09:29:00
3       2018-12-08 09:29:00
4       2018-12-08 09:29:00
                ...
97601   2018-07-28 07:07:00
97602   2018-07-28 07:07:00
97603   2018-07-28 07:06:00
97604   2018-07-28 07:06:00
97605   2018-07-28 07:06:00
Name: noted_date, Length: 97606, dtype: datetime64[ns]

Now to get the maximum and minimum date and time

In [96]:
print("min: ", min(df.noted_date))
print("max: ",max(df.noted_date))

min:  01-11-2018 00:06

TypeError: ignored

It looks like they only tracked temperature for about two months

Let's find the largest interval between time checks

In [95]:
difference = pd.Timedelta(0)

In [86]:
for i in range(1,len(df['noted_date'])+1,1):
  temp = pd.Timedelta(df['noted_date'][i+1] - df['noted_date'][i+1])
  if temp > max:
    max = temp
  else:
    max = max
print(max)

TypeError: ignored

## Some code I used to play around with the package

In [ ]:
dates = pd.DataFrame(df.noted_date)
times = pd.DataFrame(df.noted_date)
dates['noted_date'] = pd.to_datetime(dates['noted_date']).dt.date
times['noted_date'] = pd.to_datetime(times['noted_date']).dt.time
times.columns = ['noted_time']

df = df.drop(columns = 'noted_date')
df = pd.concat([df,dates,times],axis=1)

pd.to_datetime(df.noted_date, format = '%Y-%m-%d')
pd.to_datetime(df.noted_time, format = '%H:%M:%S')