<a href="https://colab.research.google.com/github/BrendenLatham/Data_Viz/blob/main/Assignment16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 16

To begin this project I will be grabbing the data set I will use

In [106]:
import pandas as pd
from pandas._libs.tslibs.timedeltas import Timedelta
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')
df.head(15)

                                     id  room_id/id  ... temp  out/in
0   __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1   __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2   __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3   __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4   __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
5   __export__.temp_log_196125_b0fa0b41  Room Admin  ...   31      In
6   __export__.temp_log_196121_01544d45  Room Admin  ...   29      In
7   __export__.temp_log_196122_f8b80a9f  Room Admin  ...   29      In
8   __export__.temp_log_196111_6b7a0848  Room Admin  ...   29      In
9   __export__.temp_log_196112_e134aebd  Room Admin  ...   29      In
10  __export__.temp_log_196108_4a983c7e  Room Admin  ...   42     Out
11  __export__.temp_log_196108_4a983c7e  Room Admin  ...   42     Out
12  __export__.temp_log_196101_d5ec7633  Room Admin  ...   29      In
13  __export__.temp_log_196099_3b8ef67b  Room Admin  ...   29      In
14  __export__.temp_log_196095_788b2c27  Room Admin  ...   29      In

[15 rows x 5 columns]

In [48]:
df['noted_date'] = pd.to_datetime(df.noted_date, format = '%d-%m-%Y %H:%M')

In [49]:
df.dtypes

id                    object
room_id/id            object
noted_date    datetime64[ns]
temp                   int64
out/in                object
dtype: object

Now to get the maximum and minimum date and time

In [25]:
print("min: ", min(df.noted_date))
print("max: ",max(df.noted_date))

min:  01-11-2018 00:06
max:  31-10-2018 23:57

It looks like they only tracked temperature for about two months

Let's find the largest interval between time checks

In [62]:
maxdif = Timedelta(0)
temp = Timedelta(0)
for i in range(1,len(df['noted_date'])-1,1):
  temp = df['noted_date'][i] - df['noted_date'][i+1]
  if maxdif < temp:
    maxdif = temp
  else:
    maxdif = maxdif
print(maxdif)

11 days 13:38:00

It looks like if my code is right the max time between checks was 11, 13 hours, and 38 minutes

Now to get the average daytime of the checks

In [130]:
times = pd.DataFrame(df.noted_date)
times['noted_date'] = pd.to_datetime(times['noted_date']).dt.time
times.columns = ['noted_time']
times['noted_time'] = pd.to_datetime(times.noted_time, format = '%H:%M:%S')
times['noted_time'].mean()

Timestamp('1900-01-01 12:30:21.953363712')

I beleive this worked, I just didn't have any dates in the column I was using, only times. Because of this it filled in the date as the lowest possible.

Now to get the average temp for 11-09-2018

In [136]:
dates = pd.DataFrame(df.noted_date)
dates['noted_date'] = pd.to_datetime(dates['noted_date']).dt.date
df2 = df.drop(columns = 'noted_date')
df2 = pd.concat([df2,dates,times],axis=1)
df2['noted_date'] = pd.to_datetime(df2.noted_date, format = '%Y-%m-%d')
df2.head()

                                    id  ...          noted_time
0  __export__.temp_log_196134_bd201015  ... 1900-01-01 09:30:00
1  __export__.temp_log_196131_7bca51bc  ... 1900-01-01 09:30:00
2  __export__.temp_log_196127_522915e3  ... 1900-01-01 09:29:00
3  __export__.temp_log_196128_be0919cf  ... 1900-01-01 09:29:00
4  __export__.temp_log_196126_d30b72fb  ... 1900-01-01 09:29:00

[5 rows x 6 columns]

I want to check the types really quckly

In [137]:
df2.dtypes

id                    object
room_id/id            object
temp                   int64
out/in                object
noted_date    datetime64[ns]
noted_time    datetime64[ns]
dtype: object

now to get the mean

In [138]:
from statistics import mean

In [139]:
SpecDate = df2.loc[df2['noted_date'] == '2018-11-09']
SpecDate = df2.loc[df2['out/in'] == 'Out']
mean(SpecDate['temp'])

36.265243784056636

## Some code I used to play around with the package

In [ ]:
dates = pd.DataFrame(df.noted_date)
times = pd.DataFrame(df.noted_date)
dates['noted_date'] = pd.to_datetime(dates['noted_date']).dt.date
times['noted_date'] = pd.to_datetime(times['noted_date']).dt.time
times.columns = ['noted_time']

df2 = df.drop(columns = 'noted_date')
df2 = pd.concat([df,dates,times],axis=1)

pd.to_datetime(df2.noted_date, format = '%Y-%m-%d')
pd.to_datetime(df2.noted_time, format = '%H:%M:%S')