<a href="https://colab.research.google.com/github/BrendenLatham/Data_Viz/blob/main/Exam2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exam 2

# Brenden Latham 245775

# CPSMA 4313

In [290]:
import pandas as pd
import re
import statistics as stat
import math

## 1

### a

I will first import the dataframe

In [291]:
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')
df.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

Now I am going to take a look at the datatypes of each column

In [292]:
df.dtypes

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

It looks to me like "workout_type" should be a string. Also "total_steps" and "max_heart_rate" should be an int unless they are counting partial steps.

### b

Now I will remove the column "unnamed" because it is unnecesary

In [293]:
df = df.drop(columns = ['Unnamed: 0'])

### c

Now to clean up the column names

In [294]:
df = df.rename(columns=lambda x: re.sub("\([^()]*\)", '', x))
df.columns

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max', 'aerobic', 'anaerobic', 'intensive',
       'light'],
      dtype='object')

### d

Now I will donvert the column "activity_day" to date-time format

In [295]:
df['activity_day'] = pd.to_datetime(df.activity_day, format = '%Y-%m-%d')
df.dtypes

activity_day      datetime64[ns]
workout_type              object
distance                 float64
time                       int64
calories                   int64
total_steps              float64
avg_speed                float64
avg_cadence              float64
max_cadence              float64
avg_pace                  object
max_pace                  object
min_pace                  object
avg_heart_rate           float64
max_heart_rate           float64
min_heart_rate             int64
vo2_max                    int64
aerobic                    int64
anaerobic                  int64
intensive                  int64
light                      int64
dtype: object

### e

I will also be looking at the column "total_steps". Here I will replace the NaN's with the column mean trunctated to the whole number and convert the data type to an int. This is done to make future analysis of the column easier.

In [296]:
StepMean = df['total_steps'].mean()
StepMean = math.trunc(StepMean)
df['total_steps'] = df['total_steps'].fillna(value = int(StepMean))
df.total_steps = df.total_steps.astype('int')
df['total_steps']

0      4081
1      4081
2      4081
3      1571
4      4081
       ...
995    4081
996    4081
997    4081
998    4081
999    4081
Name: total_steps, Length: 1000, dtype: int64

### f

Following with the theme of converting columns, I will change the "avg_pace" column into a float representing minutes.

Here is how it looks now

In [297]:
df['avg_pace']

0        NaN
1        NaN
2        NaN
3      07:58
4        NaN
       ...
995      NaN
996      NaN
997      NaN
998      NaN
999      NaN
Name: avg_pace, Length: 1000, dtype: object

Time to change that

To make this easier I will also change all the NaN's to 00:00 first

In [298]:
df['avg_pace'] = df['avg_pace'].fillna(value = '00:00')
df['avg_pace']

0      00:00
1      00:00
2      00:00
3      07:58
4      00:00
       ...
995    00:00
996    00:00
997    00:00
998    00:00
999    00:00
Name: avg_pace, Length: 1000, dtype: object

Now to finaly get the values in terms of minutes and seconds

In [307]:
df['avg_pace'] = [re.sub(':','.', str(x)) for x in df['avg_pace']]
df.avg_pace = df.avg_pace.astype('float')
df['avg_pace']

0      0.00
1      0.00
2      0.00
3      7.58
4      0.00
       ...
995    0.00
996    0.00
997    0.00
998    0.00
999    0.00
Name: avg_pace, Length: 1000, dtype: float64

Sources:

https://www.adamsmith.haus/python/answers/how-to-use-regular-expressions-to-remove-text-within-parentheses-in-python#:~:text=Use%20re.,to%20remove%20text%20within%20parentheses&text=sub

https://kodify.net/python/math/truncate-integers/

https://stackoverflow.com/questions/48447123/convert-time-hhmmss-to-minutes-in-python

https://stackoverflow.com/questions/50554107/typeerror-unrecognized-value-type-class-str