<a href="https://colab.research.google.com/github/BrendenLatham/Data_Viz/blob/main/WranglingBanks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wrangling with the Banks dataset

In [6]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/bank.csv')

In [4]:
df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

## Data Types

In this section I will be focusing mostly on datatypes.
First I will look at the data type of the first column.

In [7]:
print(type(df['age'][0]))

<class 'numpy.int64'>

It looks exactly how it should.

On to the next column. It looks like it should be a string with no implied order. I'll check the type

In [12]:
print(type(df['job'][0]))

<class 'str'>

Just at a glance it looks to me like some of the columns could be more usefull in boolean format.
These columns are marital, default, housing, loan, and y

Something else interesting is that the month is in the form of the string. If it were me I would have put it in the format of an int with the range [1,12]. I typically like to have as few columns as str type as possible.